/Task1/task1report/task1.aux
/Task1/task1report/fig2.png
/Task1/task1report/fig4.png
/Task1/task1report/fig9.png
/Task1/task1report/fig1.png
/Task1/task1report/biblio.bib
/Task1/task1report/fig7.png
/Task1/task1report/fig8.png
/Task1/task1report/fig6.png
/Task1/task1report/fig5.png
/Task1/task1report/algo_title.rtx
/Task1/task1report/fig3.png
/Task1/task1report/task1.log
/Task1/task1report/task1.out
/Task1/task1report/GrigorevGolovach_Task1.pdf
/Task1/task1report/task1.synctex.gz
/Task2/task2report/biblio.bib
/Task2/task2report/algo_title.rtx
